@media screen and (max-width:890px) {
    .main {
        .pics {
            .forpictures {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }

    footer {
        .foot {
            display: grid;
            grid-template-columns: 1fr;

            .info {
                margin: auto;


            }
        }
    }

    .pics {
        width: 100%
    }

}


@media screen and (max-width: 900px) {
    .main {
        .followUs {

            .carousel {
                display: none;

            }
        }
    }
}


@media screen and (max-width: 400px) {
    .main {
        width: 100%;

        .pics {

            h2 {
                width: 100%;
                font-size: 25px;
            }
        }
    }

}

@media screen and (max-width:410px) {
    main {
        .pics {
            .forpictures {

                .takepicture {
                    margin: 0px;
                }

                .takepicture1 {
                    margin: 0px;
                }
            }
        }
    }
}



@media screen and (max-width: 290px) {

    .change {
        margin-top: 60px;
    }

    .main {
        .show {
            margin-top: 120px;
        }

        .article {
            margin-top: 100px;
        }

    }
}


@media screen and (max-width:400px) {
    .main {
        .book {
            width: 100%;
        }
    }
}

@media screen and (max-width: 330px) {
    footer {
        .foot {
            .info {
                input {
                    width: 100%;
                }
            }

        }
    }
}

@media screen and (max-width: 500px) {
    .main {
        .show {
            position: relative;
        }
    }
}

@media screen and (max-width:1578px) {
    .main {
        .banner {
            .contact {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }

    @media screen and (max-width:507px) {
        .main {
            .banner {
                .contact {
                    display: grid;
                    grid-template-columns: 1fr;
                    max-width: 100%;
                }
            }
        }
    }
}